* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}


body {
    background-color: #696969;
    margin: 0;
    padding: 0;
}

header{
    display:flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    background-color: #1d1e20;
}

.topo, .fa-map-marker-alt, .movie-list{
   
    color:white;
}

.topo {
    margin-left: 10px;
}

.fa-map-marker-alt{

    margin-right: 10px;
}

#movie {

    display:flex;
    margin: 0 auto;
    flex-wrap: wrap;

}

.image {
    width: 250px;
    height: 350px;

}

#movie li {
   
    margin: 10px;
    text-align: center;
    color: white;
    
    

}

.movie-list {

    width: auto;
    padding: 20px;
}



